{% extends 'base.html'%}

{% block content %}
{% load static %}

    <!-- Registration Start -->
    <div class="container-fluid bg-registration py-5" style="margin: 50px 0; text-align: center">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h1 class="text-white" >Welcome back to </h1>
                        <h1 class="text-white" style="text-align: center" ><span class="text-primary"></span>TRAVELER</h1>
                    </div>
                    <p class="text-white"></p>
                </div>
                <div class="col-lg-4">
                    <div class="card border-0">
                        <div class="card-header bg-primary text-center p-4">
                            <h1 class="text-white m-0">Sign Up</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-white p-5">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control p-4" placeholder="Your username" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control p-4" placeholder="Your email" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control p-4" placeholder="Your password" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control p-4" placeholder="Confirm your password" required="required" />
                                </div>
                                <div>
                                    <button class="btn btn-primary btn-block py-3" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Registration End -->

{% endblock %}
